.Mochi_Label
{
	-fx-font-size: 85px;
	-fx-font-weight: bold;
	-fx-text-fill: #CCB8FC;
	-fx-alignment: center;
}

.Profile_Label
{
	-fx-font-size: 32px;
	-fx-font-weight: bold;
	-fx-text-fill: white;
	-fx-alignment: center;
}