.Mochi_Label
{
	-fx-font-size: 85px;
	-fx-font-weight: bold;
	-fx-text-fill: #CCB8FC;
	-fx-alignment: center;
}

.ProfileComboBox
{
	-fx-background-color: transparent;
}

.ProfileLabel
{
	-fx-font-size: 20px;
	-fx-text-fill: #CCB8FC;
	-fx-alignment: center;
}

.Scrollbar
{
	-fx-background-color: #7b7f6d;
}

.SearchField
{
	-fx-background-color: white;
}

.SearchOptionBoxes
{
	-fx-background-color: #CCB8FC;
}

.SearchOptionLabels
{
	-fx-font-size: 15px;
	-fx-text-fill: #000000;
	-fx-alignment: center;
}
/*
.FilterByComboBox
{
	-fx-background-color: #CCB8FC;
}


.FilterLabel
{
	-fx-font-size: 15px;
	-fx-text-fill: #000000;
	-fx-alignment: center;
}


.SearchField
{
	-fx-background-color: #CCB8FC;
}


.SearchLabel
{
	-fx-font-size: 15px;
	-fx-text-fill: #000000;
	-fx-alignment: center;
}


.SortByComboBox
{
	-fx-background-color: #CCB8FC;
}


.SortByLabel
{
	-fx-font-size: 15px;
	-fx-text-fill: #000000;
	-fx-alignment: center;
}
*/